/*--Responsive--*/
.titlepage h2 {
    font-size: 39px;
    line-height: 40px;
    Position: relative;
}
.navbar_brand{
    font-family:'Pattaya', sans-serif;
}
/*--Contenedor inicial--*/
.contenedor{
  position: relative;
  display: flex;
  font-family:'Pattaya', sans-serif;
  text-align: center;
  display: inline;
}
.texto-encima{
  position: absolute;
  top: 50px;
  left: 40%;
  
}
.centrado{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 60px
}
.fondo{
  width: 100%;
  height: 100px;
}
/*--Barra Nav--*/
img{
  width: 100px; height: 100px;
}
.titulo{
  font-family:'Pattaya', sans-serif;
  text-align: center;
  display: inline;
}
.navbar_brand{
  font-family:'Pattaya', sans-serif;
}
.titulo{
  display: inline-block;
  text-align: justify;
}
#navbarSupportedcontent{
  text-align: center;
  display: inline-block;
}
a.nav-link{
  text-align: center;
}
/*--Slider--*/
.d-block w-100{
  width: ; 
  height: 100px;
}

/*--Location--*/
    .location,
    .price {
      font-weight: 600;
      color: $accent-color;
      grid-row: 1;
      font-size: 0.86em;
    }
  
    .location {
      grid-column: 1/3;
      justify-self: left;
    }
  
    .price {
      grid-column: 3/-1;
      justify-self: right;
    }
  
    .button {
      grid-column: 1/-1;
      justify-self: center;
    }
  }
  
  .button {
    grid-row: -1;
    text-transform: uppercase;
    letter-spacing: 1px;
    font-weight: 600;
    cursor: pointer;
    display: block;
    padding: 0 1.5em;
    height: 3em;
    line-height: 2.9em;
    min-width: 3em;
    background-color: transparent;
    border: solid 2px #fff;
    color: #fff;
    border-radius: 4px;
    text-align: center;
    left: 50%;
    backface-visibility: hidden;
    transition: 0.3s ease-in-out;
    text-shadow: 0 0 6px rgba(0, 0, 0, 0.3);
  
    &:hover {
      background-color: #fff;
      box-shadow: 0 0 50px rgba(0, 0, 0, 0.5);
      text-shadow: none;
      color: $accent-color;
    }
  
    &.return {
      line-height: 3em;
      color: $accent-color;
      border-color: $accent-color;
      text-shadow: none;
      &:hover {
        background-color: $accent-color;
        color: #fff;
        box-shadow: none;
      }
    }
  }
  
  ::-webkit-scrollbar {
    width: 5px;
  } 
  ::-webkit-scrollbar-track {
    background: #f1f1f1;
  }
  ::-webkit-scrollbar-thumb {
    background: lighten($accent-color, 20%);
  }
  ::-webkit-scrollbar-thumb:hover {
    background: $accent-color;
  }
/*--Mapa--*/
.map {
  margin-bottom: 30px;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  padding: 30px 20px;
}
 /*--Formulario--*/
 font-family: 'Roboto', sans-serif;

 body {
   background: #D9B280;
   font-family: "Roboto", sans-serif;
 }
 
 .container {
   background: #FFFFFF;
   width: 900px;
   height: 650px;
   margin: 5% auto;
   position: relative;
 }
 .container .map {
   width: 45%;
   float: left;
 }
 .container .contact-form {
   width: 53%;
   margin-left: 2%;
   float: left;
 }
 .container .contact-form .title {
   font-size: 2.5em;
   font-family: "Roboto", sans-serif;
   font-weight: 700;
   color: #242424;
   margin: 5% 8%;
 }
 .container .contact-form .subtitle {
   font-size: 1.2em;
   font-weight: 400;
   margin: 0 4% 5% 8%;
 }
 .container .contact-form input,
 .container .contact-form textarea {
   width: 330px;
   padding: 3%;
   margin: 2% 8%;
   color: #242424;
   border: 1px solid #B7B7B7;
 }
 .container .contact-form input::placeholder,
 .container .contact-form textarea::placeholder {
   color: #242424;
 }
 .container .contact-form .btn-send {
   background: #A383C9;
   width: 180px;
   height: 60px;
   color: #FFFFFF;
   font-weight: 700;
   margin: 2% 8%;
   border: none;
 }
 
 
/*--Cards--*/
.h2 {
  font-size: 39px;
  line-height: 40px;
  Position: relative;

}
* {
	margin:0;
	padding: 0;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

body {
	background: #F0F2F1;
	font-family: 'Open Sans', sans-serif;
}

a {
	text-decoration: none;
}

.contenedor {
	max-width: 1200px;
	margin:50px auto;
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: center;
}

.contenedor_tarjeta {
	margin: 20px;
}

.contenedor_tarjeta a {
	display: inline-block;
}

.contenedor_tarjeta:hover figure {
	transform: perspective(600px) rotateY(180deg);
	-webkit-box-shadow: 0px 2px 10px 2px rgba(0,0,0,0.25);
	-moz-box-shadow: 0px 2px 10px 2px rgba(0,0,0,0.25);
	box-shadow: 0px 2px 10px 2px rgba(0,0,0,0.25);
}

figure {
	width: 300px;
	height: 350px;
	margin:0;
	position: relative;
	transition: all ease .8s;
	transform-style: preserve-3d;
	transform: perspective(600px) rotateY(0deg);
}

figure .frontal,
figure .trasera {
	width: 100%;
	height: 100%;
	border-radius: 5px;
	transition: all ease .8s;
}

figure .frontal {
	display: block;
	background: #000;


}

figure .trasera {
	position: absolute;
	top: 0;
	padding: 20px;
	color: #fff;
	transform: perspective(600px) rotateY(180deg);
	backface-visibility: hidden;
	overflow: auto;
}

.contenedor_tarjeta:nth-child(1) figure .trasera{
	background: rgba(223,234,241,0.7);
	background: -moz-linear-gradient(top, rgba(223,234,241,0.7) 0%, rgba(15,99,144,1) 100%);
	background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(223,234,241,0.7)), color-stop(100%, rgba(15,99,144,1)));
	background: -webkit-linear-gradient(top, rgba(223,234,241,0.7) 0%, rgba(15,99,144,1) 100%);
	background: -o-linear-gradient(top, rgba(223,234,241,0.7) 0%, rgba(15,99,144,1) 100%);
	background: -ms-linear-gradient(top, rgba(223,234,241,0.7) 0%, rgba(15,99,144,1) 100%);
	background: linear-gradient(to bottom, rgba(223,234,241,0.7) 0%, rgba(15,99,144,1) 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#dfeaf1', endColorstr='#0f6390', GradientType=0 );
}

.contenedor_tarjeta:nth-child(2) figure .trasera{
	background: rgba(251,232,202,0.7);
	background: -moz-linear-gradient(top, rgba(251,232,202,0.7) 0%, rgba(25,44,72,1) 100%);
	background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(251,232,202,0.7)), color-stop(100%, rgba(25,44,72,1)));
	background: -webkit-linear-gradient(top, rgba(251,232,202,0.7) 0%, rgba(25,44,72,1) 100%);
	background: -o-linear-gradient(top, rgba(251,232,202,0.7) 0%, rgba(25,44,72,1) 100%);
	background: -ms-linear-gradient(top, rgba(251,232,202,0.7) 0%, rgba(25,44,72,1) 100%);
	background: linear-gradient(to bottom, rgba(251,232,202,0.7) 0%, rgba(25,44,72,1) 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fbe8ca', endColorstr='#192c48', GradientType=0 );
}

.contenedor_tarjeta:nth-child(3) figure .trasera{
	background: rgba(95,58,53,0.7);
	background: -moz-linear-gradient(top, rgba(95,58,53,0.7) 0%, rgba(221,32,47,1) 100%);
	background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(95,58,53,0.7)), color-stop(100%, rgba(221,32,47,1)));
	background: -webkit-linear-gradient(top, rgba(95,58,53,0.7) 0%, rgba(221,32,47,1) 100%);
	background: -o-linear-gradient(top, rgba(95,58,53,0.7) 0%, rgba(221,32,47,1) 100%);
	background: -ms-linear-gradient(top, rgba(95,58,53,0.7) 0%, rgba(221,32,47,1) 100%);
	background: linear-gradient(to bottom, rgba(95,58,53,0.7) 0%, rgba(221,32,47,1) 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#5f3a35', endColorstr='#dd202f', GradientType=0 );
}

figure .trasera .titulo {
	color: #fff;
	font-weight: normal;
	margin-bottom: 20px;
	font-family: 'Roboto', sans-serif;
	font-size: 24px;
}

figure .trasera hr {
	height: 2px;
	background: #fff;
	border: none;
	margin-bottom: 20px;
	opacity: .5;
}

figure .trasera p {
	font-family: 'Open Sans', sans-serif;
	line-height: 22px;
	font-size: 14px;
}

@media screen and (max-width: 992px) { 
	figure .trasera {
		backface-visibility:visible;
		transform: perspective(600px) rotateY(0deg);
	}

	.contenedor_tarjeta:hover figure {
		transform: perspective(600px) rotateY(0deg);	
	}

}
/*--Footer--*/
.footer-widget p {
  margin-bottom: 27px;
}
p {
  font-family: 'Nunito', sans-serif;
  font-size: 16px;
color:white;
  line-height: 28px;
}

 .animate-border {
position: relative;
display: block;
width: 115px;
height: 3px;
background: #007bff; }

.animate-border:after {
position: absolute;
content: "";
width: 35px;
height: 3px;
left: 0;
bottom: 0;
border-left: 10px solid #fff;
border-right: 10px solid #fff;
-webkit-animation: animborder 2s linear infinite;
animation: animborder 2s linear infinite; }

@-webkit-keyframes animborder {
0% {
  -webkit-transform: translateX(0px);
  transform: translateX(0px); }
100% {
  -webkit-transform: translateX(113px);
  transform: translateX(113px); } }

@keyframes animborder {
0% {
  -webkit-transform: translateX(0px);
  transform: translateX(0px); }
100% {
  -webkit-transform: translateX(113px);
  transform: translateX(113px); } }

.animate-border.border-white:after {
border-color: #fff; }

.animate-border.border-yellow:after {
border-color: #F5B02E; }

.animate-border.border-orange:after {
border-right-color: #007bff;
border-left-color: #007bff; }

.animate-border.border-ash:after {
border-right-color: #EEF0EF;
border-left-color: #EEF0EF; }

.animate-border.border-offwhite:after {
border-right-color: #F7F9F8;
border-left-color: #F7F9F8; }

/* Animated heading border */
@keyframes primary-short {
0% {
  width: 15%; }
50% {
  width: 90%; }
100% {
  width: 10%; } }

@keyframes primary-long {
0% {
  width: 80%; }
50% {
  width: 0%; }
100% {
  width: 80%; } } 

.dk-footer {
padding: 75px 0 0;
background-color: #151414;
position: relative;
z-index: 2; }
.dk-footer .contact-us {
  margin-top: 0;
  margin-bottom: 30px;
  padding-left: 80px; }
  .dk-footer .contact-us .contact-info {
    margin-left: 50px; }
  .dk-footer .contact-us.contact-us-last {
    margin-left: -80px; }
.dk-footer .contact-icon i {
  font-size: 24px;
  top: -15px;
  position: relative;
  color:#007bff; }

.dk-footer-box-info {
position: absolute;
top: -122px;
background: #202020;
padding: 40px;
z-index: 2; }
.dk-footer-box-info .footer-social-link h3 {
  color: #fff;
  font-size: 24px;
  margin-bottom: 25px; }
.dk-footer-box-info .footer-social-link ul {
  list-style-type: none;
  padding: 0;
  margin: 0; }
.dk-footer-box-info .footer-social-link li {
  display: inline-block; }
.dk-footer-box-info .footer-social-link a i {
  display: block;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  text-align: center;
  line-height: 40px;
  background: #000;
  margin-right: 5px;
  color: #fff; }
  .dk-footer-box-info .footer-social-link a i.fa-facebook {
    background-color: #3B5998; }
  .dk-footer-box-info .footer-social-link a i.fa-twitter {
    background-color: #55ACEE; }
  .dk-footer-box-info .footer-social-link a i.fa-google-plus {
    background-color: #DD4B39; }
  .dk-footer-box-info .footer-social-link a i.fa-linkedin {
    background-color: #0976B4; }
  .dk-footer-box-info .footer-social-link a i.fa-instagram {
    background-color: #B7242A; }

.footer-awarad {
margin-top: 285px;
display: -webkit-box;
display: -webkit-flex;
display: -moz-box;
display: -ms-flexbox;
display: flex;
-webkit-box-flex: 0;
-webkit-flex: 0 0 100%;
-moz-box-flex: 0;
-ms-flex: 0 0 100%;
flex: 0 0 100%;
-webkit-box-align: center;
-webkit-align-items: center;
-moz-box-align: center;
-ms-flex-align: center;
align-items: center; }
.footer-awarad p {
  color: #fff;
  font-size: 24px;
  font-weight: 700;
  margin-left: 20px;
  padding-top: 15px; }

.footer-info-text {
margin: 26px 0 32px; }

.footer-left-widget {
padding-left: 80px; }

.footer-widget .section-heading {
margin-bottom: 35px; }

.footer-widget h3 {
font-size: 24px;
color: #fff;
position: relative;
margin-bottom: 15px;
max-width: -webkit-fit-content;
max-width: -moz-fit-content;
max-width: fit-content; }

.footer-widget ul {
width: 50%;
float: left;
list-style: none;
margin: 0;
padding: 0; }

.footer-widget li {
margin-bottom: 18px; }

.footer-widget p {
margin-bottom: 27px; }

.footer-widget a {
color: #878787;
-webkit-transition: all 0.3s;
-o-transition: all 0.3s;
transition: all 0.3s; }
.footer-widget a:hover {
  color: #007bff; }

.footer-widget:after {
content: "";
display: block;
clear: both; }

.dk-footer-form {
position: relative; }
.dk-footer-form input[type=email] {
  padding: 14px 28px;
  border-radius: 50px;
  background: #2E2E2E;
  border: 1px solid #2E2E2E; }
.dk-footer-form input::-webkit-input-placeholder, .dk-footer-form input::-moz-placeholder, .dk-footer-form input:-ms-input-placeholder, .dk-footer-form input::-ms-input-placeholder, .dk-footer-form input::-webkit-input-placeholder {
  color: #878787;
  font-size: 14px; }
.dk-footer-form input::-webkit-input-placeholder, .dk-footer-form input::-moz-placeholder, .dk-footer-form input:-ms-input-placeholder, .dk-footer-form input::-ms-input-placeholder, .dk-footer-form input::placeholder {
  color: #878787;
  font-size: 14px; }
.dk-footer-form button[type=submit] {
  position: absolute;
  top: 0;
  right: 0;
  padding: 12px 24px 12px 17px;
  border-top-right-radius: 25px;
  border-bottom-right-radius: 25px;
  border: 1px solid #007bff;
  background: #007bff;
  color: #fff; }
.dk-footer-form button:hover {
  cursor: pointer; }

/* ==========================

  Contact

=============================*/
.contact-us {
position: relative;
z-index: 2;
margin-top: 65px;
display: -webkit-box;
display: -webkit-flex;
display: -moz-box;
display: -ms-flexbox;
display: flex;
-webkit-box-align: center;
-webkit-align-items: center;
-moz-box-align: center;
-ms-flex-align: center;
align-items: center; }

.contact-icon {
position: absolute; }
.contact-icon i {
  font-size: 36px;
  top: -5px;
  position: relative;
  color: #007bff; }

.contact-info {
margin-left: 75px;
color: #fff; }
.contact-info h3 {
  font-size: 20px;
  color: #fff;
  margin-bottom: 0; }

.copyright {
padding: 28px 0;
margin-top: 55px;
background-color: #202020; }
.copyright span,
.copyright a {
  color: #878787;
  -webkit-transition: all 0.3s linear;
  -o-transition: all 0.3s linear;
  transition: all 0.3s linear; }
.copyright a:hover {
  color:#007bff; }

.copyright-menu ul {
text-align: right;
margin: 0; }

.copyright-menu li {
display: inline-block;
padding-left: 20px; }

.back-to-top {
position: relative;
z-index: 2; }
.back-to-top .btn-dark {
  width: 35px;
  height: 35px;
  border-radius: 50%;
  padding: 0;
  position: fixed;
  bottom: 20px;
  right: 20px;
  background: #2e2e2e;
  border-color: #2e2e2e;
  display: none;
  z-index: 999;
  -webkit-transition: all 0.3s linear;
  -o-transition: all 0.3s linear;
  transition: all 0.3s linear; }
  .back-to-top .btn-dark:hover {
    cursor: pointer;
    background: #FA6742;
    border-color: #FA6742; }


